{
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-regenerator",
    "transform-runtime"
  ],
  "presets": ["react", ["env", {}]],
  "sourceMaps": "inline"
}
