language: generic
env:
  global:
  - APM_TEST_PACKAGES=""
  - ATOM_LINT_WITH_BUNDLED_NODE="true"
  matrix:
  - ATOM_CHANNEL=stable
  - ATOM_CHANNEL=beta
  - ATOM_CHANNEL=dev
os:
- linux
- osx
script:
- "./build-package.sh"
# - "./eslint.sh"
- "./node_modules/.bin/flow"
notifications:
  email: false
git:
  depth: 10
sudo: false
dist: trusty
addons:
  apt:
    packages:
    - build-essential
    - fakeroot
    - git
    - libsecret-1-dev
  code_climate:
    repo_token: 87dc83c7f5b2b14f1d4ab2a155bcd69d2c097c4828e811027327705a6b1cd1a6
