language: generic
env:
  global:
  - APM_TEST_PACKAGES=""
  - ATOM_LINT_WITH_BUNDLED_NODE="true"
  - secure: kBMAVWhmH9tpxnCQkXWqi+IiS2sqgvXxeqqkSTfsjSgbbHqh+g55bXuHydFmLb4Gk+dwtIbwVdhyVa+VMiFyprrn5aEU8rFfNffMgvfKBtDEm/jZJ+Fs2aL1+uFoPs4lgfmmfSlqZGFJi3PsZBJrGER+3dBjGmlWMwoy5kN/DIsdtK4YT6RHrcB4sGrGmP709iJgZ70XSeymeOmhaggKnPZnATq0iCvcb5XYpTBQNlLBeKTKPrM8vE0ZVI0Vua8LBgUsl+jA4NLtqXF1mszsFo5Q1id4M4Nq+i2AsoCkCXho/Z5OldCX4clB0aqzUCl+oVsaYr+ckf6TwfokjtC9DjRaEmnEL1XQimc0MpriwLJTyy6rVcALuE9wiVwqYk4WIPayBDPxb1iOQ89D+WF2dVGDG44pizPV6Qo/4LHvpDoJ9o0D8DIiuvIItmygNw8TPMK2y+PQPpKVVtt5wIqU7ktWlquUzOSjPdffJDU6I3uyNWYZy+lTRlz66SbaKmpTzy+DI95Hfaj33E16fMqMRFO16LlJlpwrCvMSO3R6tIZQg6ZLo55D1yNg3z3F1N9yJAKdEWBiwtAFHLJCwGv8wuMiaDsXlXSYUioym9qIddTFxNdPKkR35uIwNmpDPo+TCH1VqLww40/5FfrDR+T07Dd6MqPk85xo4tVhlwJfcXs=
  matrix:
  - ATOM_CHANNEL=stable
  - ATOM_CHANNEL=beta
os:
- linux
- osx
script:
- curl -s -O https://raw.githubusercontent.com/atom/ci/master/build-package.sh
- chmod u+x build-package.sh
- "./build-package.sh"
- "./node_modules/.bin/flow"
before_install:
# package-lock.json was introduced in npm@5
- npm install -g npm@5
- npm install -g greenkeeper-lockfile@1
before_script: greenkeeper-lockfile-update
after_script: greenkeeper-lockfile-upload
notifications:
  email: false
git:
  depth: 10
sudo: false
dist: trusty
addons:
  apt:
    packages:
    - build-essential
    - fakeroot
    - git
    - libsecret-1-dev
  code_climate:
    repo_token: 87dc83c7f5b2b14f1d4ab2a155bcd69d2c097c4828e811027327705a6b1cd1a6
