'.platform-darwin':
  'cmd-shift-c': 'textual-velocity:toggle-panel'

'.platform-linux':
  'ctrl-shift-c': 'textual-velocity:toggle-panel'

'atom-workspace':
  'ctrl-l': 'textual-velocity:focus-on-search'
