'.platform-darwin':
  'cmd-shift-c': 'textual-velocity:toggle-panel'
'.platform-linux':
  'ctrl-alt-`': 'textual-velocity:toggle-panel'

'.platform-darwin .textual-velocity':
  'cmd-r': 'textual-velocity:rename-note',
  'cmd-shift-t': 'textual-velocity:edit-nv-tags'
'.platform-linux .textual-velocity':
  'ctrl-r': 'textual-velocity:rename-note',
  'ctrl-alt-t': 'textual-velocity:edit-nv-tags'

'.platform-darwin atom-workspace, .platform-win32 atom-workspace':
  'ctrl-l': 'textual-velocity:focus-on-search'
'.platform-linux atom-workspace':
  'ctrl-`': 'textual-velocity:focus-on-search'
