'.platform-darwin':
  'cmd-shift-c': 'textual-velocity:toggle-panel'

'.platform-darwin .textual-velocity':
  'cmd-r': 'textual-velocity:rename-note',
  'cmd-shift-t': 'textual-velocity:edit-nv-tags'

'.platform-linux':
  'ctrl-shift-c': 'textual-velocity:toggle-panel'

'.platform-linux .textual-velocity':
  'ctrl-r': 'textual-velocity:rename-note',
  'ctrl-shift-t': 'textual-velocity:edit-nv-tags'

'atom-workspace':
  'ctrl-l': 'textual-velocity:focus-on-search'
