// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";


.atom-notational {
  .search {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .input {
    background-color: @input-background-color;
    color: @text-color;
    width: 100%;
    padding: 4px 5px;
    border-radius: 5px;
  }

  .tcell {
    padding: 5px;
    margin-right: 1px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &.tcell-head {
      font-weight: bold;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  .trow {
    display: flex;
    &:nth-child(odd) {
      background-color: @base-background-color;
    }
    &:nth-child(even) {
      background-color: lighten(@base-background-color, 5%);
    }
  }

  .tbody {
    position: relative;
    overflow-y: auto;
  }
  .tinner-body {
    position: relative;
  }
  .tbody.is-reversed-stripes {
    .trow {
      &:nth-child(odd) {
        background-color: lighten(@base-background-color, 5%);
      }
      &:nth-child(even) {
        background-color: @base-background-color;
      }
    }
  }
}
